@model Sekemin.Models.Radnik

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Da li ste sigurni da zelite obrisati radnika ? :(</h3>
<div>
    <h4>Radnik</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatumRodjenja)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumRodjenja)
        </dd>
        
    </dl>

    <form asp-action="DeleteRadnika">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="DeleteRadnika" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>