@model Sekemin.Models.Knjiga

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Knjiga</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazivDjela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazivDjela)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zanr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zanr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImePisca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImePisca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojIzdanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojIzdanja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
